<% layout('/layouts/boilerplate') -%>
  <div class="row mt-3">
    <div class="col-12 col-md-8 offset-md-2">
      <h3>
        <%= listing.title %>
      </h3>
    </div>

    <div class="card col-12 col-md-6 offset-md-3 show-card listing-card">
      <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
      <div class="card-body">
        <p class="card-text">Owned By : <i><%- listing.owner ? listing.owner.username : 'Unknown' %></i></p>
        <p class="card-text">
          <%= listing.description %>
        </p>
        <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %>
        </p>
        <p class="card-text"></p>
        <%= listing.location %>
          </p>
          <p class="card-text"></p>
          <%= listing.country %>
            </p>
      </div>
    </div>

    <!-- <ul>
      <li><%= listing.title %></li>
      <li><%= listing.description %></li>
      <li>&#8377; <%= listing.price.toLocaleString("en-IN") %></li>
      <li><%= listing.location %></li>
      <li><%= listing.country %></li>
    </ul> -->
    <br />
    <% if(curr && listing.owner && curr._id.equals(listing.owner._id)) { %>
      <div class="btns mb-3">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>

        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
          <button class="btn btn-dark offset-5">Delete</button>
        </form>
      </div>
      <% } %>

        <div class="col-12 col-md-8 offset-md-2 mb-3">
          <h3>Where you'll be</h3>
          <div id="map" style="height: 400px; width: 100%;"></div>
        </div>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

        <script>
          const coordinates = <% - JSON.stringify((listing.geometry && listing.geometry.coordinates && listing.geometry.coordinates.length) ? listing.geometry.coordinates : [0, 0]) %>;
          const map = L.map('map').setView([coordinates[1], coordinates[0]], 13);
          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map);
          L.marker([coordinates[1], coordinates[0]]).addTo(map)
            .bindPopup('<b><%= listing.title %></b><br><%= listing.location %>')
            .openPopup();
        </script>

        <div class="col-12 col-md-8 offset-md-2 mb-3">
          <hr />
          <% if(curr) { %>
            <h4>Leave a Review</h4>
            <form action="/listings/<%=listing._id%>/reviews" method="post" novalidate class="needs-validation">
              <div class="mb-3 mt-3 ">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range" />
              </div>
              <!-- <fieldset class="starability-basic">
          <legend>First rating:</legend>
          <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="rating" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="rating" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="rating" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="rating" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="rating" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset> -->
              <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"
                  required></textarea>
                <div class="invalid-feedback">Please add some comments for review</div>
              </div>
              <button class="btn btn-outline-dark">Submit</button>
            </form>
            <hr />
            <% }%>

              <p><b>All Reviews</b></p>
              <div class="row">
                <% for(review of listing.reviews) { %>
                  <div class="card col-5 ms-3 mb-3">
                    <div class="card-body">
                      <h5 class="card-title">@<%= review.author.username %>
                      </h5>
                      <p class="card-text">
                        <%= review.comment %>
                      </p>
                      <p class="card-text">
                        <%= review.rating %> stars
                      </p>
                      <form class="mb-3" method="post"
                        action="/listings/<%= listing._id%>/reviews/<%= review._id%>?_method=DELETE">
                        <button classs="btn btn-sm btn-dark">Delete</button>
                      </form>
                    </div>
                  </div>
                  <% } %>
              </div>
        </div>
  </div>